﻿.vs/raf-housing-app/FileContentIndex

.DS_Store
node_modules
*.log
explorations
TODOs.md
RELEASE_NOTE*.md
packages/server-renderer/basic.js
packages/server-renderer/build.dev.js
packages/server-renderer/build.prod.js
packages/server-renderer/server-plugin.js
packages/server-renderer/client-plugin.js
packages/template-compiler/build.js
packages/template-compiler/browser.js
.idea
.vscode
/public/
/dist
temp
types/v3-generated.d.ts
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local env files
.env.local
.env.*.local
.vs/Portfolio/FileContentIndex
.vs/Portfolio/v17
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
